<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GirlMapper">

	<insert id="insertGril" parameterType="Girl">
		insert into tb_girls (
		_id,
		createdAt,
		publishedAt,
		`source`,
		url,
		used
		) values (
		#{_id},
		#{createdAt},
		#{publishedAt},
		#{source},
		#{url},
		#{used}
		)
	</insert>

	<!-- 新增 -->
	<insert id="insertGrils" parameterType="java.util.List" flushCache="false">
		insert into tb_girls (
		_id,
		createdAt,
		publishedAt,
		`source`,
		url,
		used
		) values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item._id},
			#{item.createdAt},
			#{item.publishedAt},
			#{item.source},
			#{item.url},
			#{item.used}
			)
		</foreach>
	</insert>

	<select id="findByLimitPage" parameterType="PageLimit" resultType="Girl">
		select  * from tb_girls
		where used=true order by createdAt desc limit #{start},#{size};
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select a._id,a.name,a.createdAt,a.publishedAt,a.source,a.used,a.url
		from tb_girls a
		where 1 = 1
		<if test="pd.KEYW != null and pd.KEYW != ''"><!-- 关键词检索 -->
			and
			(
			a.name LIKE CONCAT(CONCAT('%', #{pd.KEYW}),'%')
			)
		</if>
		order by createdAt desc
	</select>

	<delete id="delete" parameterType="pd">
		delete from tb_girls
		where
			_id = #{_id}
	</delete>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from tb_girls
		where
		_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		_id,`name`,createdAt,publishedAt,source,used,url
		from
			tb_girls
		where
			_id = #{_id}
	</select>

	<insert id="save" parameterType="pd">
		insert into tb_girls (
		_id,`name`,createdAt,publishedAt,source,used,url
		) values (
		#{_ID},#{NAME},#{CREATEDAT},#{PUBLISHEDAT},#{SOURCE},#{USED},#{URL}
		)
	</insert>

	<update id="edit" parameterType="pd">
		update tb_girls set
			`name`=#{NAME},
			createdAt=#{CREATEDAT},
			publishedAt=#{PUBLISHEDAT},
			source=#{SOURCE},
			used=#{USED},
			url=#{URL}
		where
			_id=#{_ID}
	</update>

</mapper>